header {
  background-color: #2e323f;
  padding: 30px 80px;
}

.head {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: white;
}
a:link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link + .nav-link {
  margin-left: 30px;
}

a:hover {
  color: grey;
}

.link-2 {
  background-color: burlywood;
  padding: 7px 25px;
  border-radius: 20px;
}
